data/*
output/*
__pycache__/
maskrcnn/model_weights/
*.pyc
*.pth
log.txt
sample_empty_submission.csv
sample_truncated_submission.csv
sample_validation_submission.csv
config.yml
labels.json
last_checkpoint
maskrcnn/inference
